.gallery-intro {
  margin-top: 40px;
  padding: 0 25px 0px 25px;
  display: none;
}
.gallery-intro__title {
  font-size: 25px;
  padding-bottom: 3px;
}
.gallery-intro__spacer {
  background-color: $accent-dark;
  width: 100px;
}
.gallery__piece {
  display: flex;
  flex-direction: column;
  border-bottom: $border-grey;
  padding: 25px;
  padding-right: 0;
}
.piece__image-wrapper {
  display: none;
}
.piece__title {
  font-size: 18px;
  padding: 0;
  padding-bottom: 15px;
}
.piece__tags {
  min-width: 400px;
}
.piece__tag {
  border-radius: 2px;
  display: inline-block;
  padding: 5px 10px;
  background-color: $accent-light;
  margin-right: 5px;
}
.piece__description {
  display: none;
}
.piece__cta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin-top: 20px;
  max-width: 160px;
}
.piece__cta-text {
  padding: 0;
  padding-right: 10px;
}
.piece__writeup {
  overflow-x: hidden;
}
@media (min-width: $bp-large) {
  .cta-arrow {
    display: none;
  }
  .gallery {
    max-width: $max-width-xlarge;
    margin: 0 auto;
  }
  .gallery__piece {
    border-bottom: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .gallery__piece:nth-child(odd) {
    div:last-child {
      order: -1;
    }
  }
  .piece__description {
    display: block;
    max-width: 400px;
    margin-top: 15px;
  }
  .piece__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent;
    border-radius: 100%;
    padding: 50px;
    max-width: 300px;
    max-height: 300px;
    width: 40vw;
    height: 40vw;
    flex: 1 0 auto;
    padding: 65px;
  }
  .piece__image {
    width: 100%;
  }
  .piece__cta-text {
    padding: 10px 20px; // this was overridden for some reason
    color: $white;
  }
  .piece__cta {
    background-color: $accent-dark;
    display: inline-block;
    max-width: none;
  }
}
