.header__wrapper {
  padding: 20px $padding-xlarge 15px $padding-xlarge;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-transform: uppercase;
  font-size: 18px;
  font-family: $font-heading;
  font-weight: bold;
  text-decoration: none;
}
.nav__link {
  text-decoration: none;
  font-family: $font-heading;
  font-weight: bold;
  font-size: 18px;
}
.midpoint {
  display: none;
}
@media (min-width: $bp-large) {
  .header__wrapper {
    padding: 30px $padding-xlarge;
  }
  .header {
    max-width: $max-width-xlarge;
    margin: 0 auto;
  }
  .midpoint {
    padding: 0 5px;
    display: inline;
  }
}
