/*
How the sizing works
Mobile {
  .image-wrapper {
    padding: $padding-xlarge;
    max-width: $max-width-medium;
  }
  .work-writeup {
    padding: $padding-xlarge;
  }
}
Medium/Large {
  .image-wrapper {
    padding: 0 (or 20px grid)
    max-width: $max-width-xmedium;
  }
}
Large {
  .work-writeup {
    padding: 0;
  }
}
*/
// Introduction
.inscape__introduction-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inscape__cover-wrapper {
  flex: 1 1 auto;
  margin-top: 20px;
}
.inscape__cover {
  margin: 0 auto;
  max-width: 250px;
}
@media (min-width: $bp-xmedium) {
  .inscape__introduction-wrapper {
    flex-direction: row;
    justify-content: flex-start;
  }
  .inscape__cover-wrapper {
    margin-top: 0;
  }
}
// Wireframes - see screen
// Colors - see work__image
// Typography - see work__image
.work__image-wrapper.inscape__typography { // double style to override
  margin-top: 40px;
}
// Iconography
.work__image-wrapper.inscape__icons { // double style to override
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 15px 0;
}
.inscape__icon-wrapper {
  flex: 0 0 25%;
  text-align: center;
  &:nth-child(-n+4) {
    margin-bottom: 30px;
  }
}
.inscape__icon {
  margin: 0 auto;
  display: inline-block;
}
@media (min-width: $bp-large) {
  .inscape__icon-wrapper {
    flex: 0 0 auto;
    &:nth-child(-n+4) {
      margin-bottom: 0;
    }
  }
}
// Cards
.inscape__cards-wrapper {
  flex-flow: row wrap;
}
.inscape__shadow {
  background-color: $white;
  border-radius: 4px;
  flex: 1 1 25%;
  margin: 20px;
}
.inscape__shadow--zero {
  box-shadow: none;
}
.inscape__shadow--one {
  box-shadow: 0 2px 4px 0 rgba(12,0,51,0.10);
}
.inscape__shadow--two {
  box-shadow: 0 4px 8px 0 rgba(12,0,51,0.10);
}
.inscape__shadow--three {
  box-shadow: 0 8px 16px 0 rgba(12,0,51,0.10);
}
.inscape__shadow--four {
  box-shadow: 0 16px 24px 0 rgba(12,0,51,0.10);
}
.inscape__shadow--five {
  box-shadow: 0 24px 32px 0 rgba(12,0,51,0.10);
}
// Buttons and Forms - to fix, very buggy
.screen.buggy,
.screen.screen__spacer {
  display: none;
}
@media (min-width: $bp-xmedium) {
  .screen.buggy,
  .screen.screen__spacer {
    display: block;
  }
  .screens__forms {
    .screen__button {
      margin-bottom: 0;
    }
    .screen__input--small {
      margin-top: 60px;
    }
  }
}
// Mockups - see screen
.screens__mockups {
  .screen__mobile,
  .screen__desktop {
    cursor: pointer;
  }
}
// Coding
