@font-face {
  font-family: 'Woodford Bourne';
  src: url('woodfordbourne-thin-webfont.woff2') format('woff2'),
       url('woodfordbourne-thin-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Woodford Bourne';
  src: url('woodfordbourne-thinitalic-webfont.woff2') format('woff2'),
       url('woodfordbourne-thinitalic-webfont.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Woodford Bourne';
  src: url('woodfordbourne-regular-webfont.woff2') format('woff2'),
       url('woodfordbourne-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Woodford Bourne';
  src: url('woodfordbourne-italic-webfont.woff2') format('woff2'),
       url('woodfordbourne-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Woodford Bourne';
  src: url('woodfordbourne-bold-webfont.woff2') format('woff2'),
       url('woodfordbourne-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Woodford Bourne';
  src: url('woodfordbourne-bolditalic-webfont.woff2') format('woff2'),
       url('woodfordbourne-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
