$kashmir-blue: #4C5991;
$chetwode-blue: #7B9AD6;
$spindle: #A3B9E3;
$link-water: #DDE5F3;

$athens-gray: #F9F9FB;
$shark: #292B33;

$white: #FFFFFF;
$grey-light: $athens-gray;
$grey-dark: $shark;

$accent-light: $link-water;
$accent: $chetwode-blue;
$accent-dark: $kashmir-blue;
