$font-heading: "Woodford Bourne", Helvetica, sans-serif;
$font-body: "Open Sans", Arial, sans-serif;

$lighten: 0.8;
$border-grey: 1.5px solid $waterloo;

$bp-small: 320px;
$bp-medium: 500px;
$bp-xmedium: 750px;
$bp-large: 900px;

$max-width-medium: 600px;
$max-width-xmedium: 750px;
$max-width-large: 900px;
$max-width-xlarge: 1024px;

$padding-xlarge: 3vw;
