$font-heading: "Woodford Bourne", Helvetica, sans-serif;
$font-body: "Open Sans", Arial, sans-serif;

$bp-small: 320px;
$bp-medium: 500px;
$bp-large: 1000px;

$max-width-large: 900px;
$max-width-xlarge: 1024px;
