html {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// html {
//     /* Adjust font size */
//     font-size: 100%;
//     -webkit-text-size-adjust: 100%;
//     /* Font varient */
//     font-variant-ligatures: none;
//     -webkit-font-variant-ligatures: none;
//     /* Smoothing */
//     text-rendering: optimizeLegibility;
//     -moz-osx-font-smoothing: grayscale;
//     font-smoothing: antialiased;
//     -webkit-font-smoothing: antialiased;
//     text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
//   }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: bold;
  color: $grey-dark;
}
.cta ,
.cta-text {
  font-family: $font-heading;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 2px;
}
p,
a {
  font-family: $font-body;
  color: $grey-dark;
  font-size: 14px;
  line-height: 22px;
}
