h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: bold;
  color: $grey-dark;
}
.cta {
  font-family: $font-heading;
}
p,
a {
  font-family: $font-body;
  color: $grey-dark;
  font-size: 14px;
  line-height: 22px;
}
