h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: bold;
  color: $grey-dark;
}
.cta ,
.cta-text {
  font-family: $font-heading;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
p,
a {
  font-family: $font-body;
  color: $grey-dark;
  font-size: 14px;
  line-height: 22px;
}
